# Project 1
---

### Analysis

- Here is where the analysis will be.

## Setup
--------

In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [2]:
#Import master data file
master_data_df = pd.read_csv("data.csv")
master_data_df.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Arab World,ARB,% of females ages 15-49 having comprehensive c...,SH.HIV.KNOW.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Limit years for cleaned data to 2006-2015
cleaned_data_df = master_data_df [["Country Name", "Indicator Name", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]]

#Limit countries for cleaned data to 10 largest in the world
cleaned_data_df = cleaned_data_df .loc[(cleaned_data_df ["Country Name"] == "China") |
                     (cleaned_data_df ["Country Name"] == "India") |
                     (cleaned_data_df ["Country Name"] == "United States") |
                     (cleaned_data_df ["Country Name"] == "Indonesia") |
                     (cleaned_data_df ["Country Name"] == "Brazil") |
                     (cleaned_data_df ["Country Name"] == "Pakistan") |
                     (cleaned_data_df ["Country Name"] == "Nigeria") |
                     (cleaned_data_df ["Country Name"] == "Bangladesh") |
                     (cleaned_data_df ["Country Name"] == "Russia") |
                     (cleaned_data_df ["Country Name"] == "Mexico")
                     , :]

#Limit indicators to those relevant for planned analysis
cleaned_data_df = cleaned_data_df .loc[(cleaned_data_df ["Indicator Name"] == "Mortality rate, adult, male (per 1,000 male adults)") |
                     (cleaned_data_df ["Indicator Name"] == "Mortality rate, adult, female (per 1,000 female adults)") |
                     (cleaned_data_df ["Indicator Name"] == "Population, total") |
                     (cleaned_data_df ["Indicator Name"] == "Population, male") |
                     (cleaned_data_df ["Indicator Name"] == "Population, female") |
                     (cleaned_data_df ["Indicator Name"] == "Urban population") |
                     (cleaned_data_df ["Indicator Name"] == "Rural population") |
                     (cleaned_data_df ["Indicator Name"] == "Physicians (per 1,000 people)") |
                     (cleaned_data_df ["Indicator Name"] == "Prevalence of overweight (% of adults)") |
                     (cleaned_data_df ["Indicator Name"] == "Prevalence of overweight, male (% of male adults)") |
                     (cleaned_data_df ["Indicator Name"] == "Prevalence of overweight, female (% of female adults)")
                     , :]

#Display cleaned dataframe
cleaned_data_df.head(1)

,Country Name,Indicator Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
19505,Bangladesh,"Mortality rate, adult, female (per 1,000 femal...",135.856,131.575,127.94,124.306,120.672,117.038,113.403,110.296,107.188,NaN

In [4]:
cleaned_data_df = cleaned_data_df.reset_index(drop=True)
cleaned_data_df.index.name = "Index"
cleaned_data_df.head(1)

,Country Name,Indicator Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Index,,,,,,,,,,,,
0,Bangladesh,"Mortality rate, adult, female (per 1,000 femal...",135.856,131.575,127.94,124.306,120.672,117.038,113.403,110.296,107.188,NaN

In [5]:
column_averages = cleaned_data_df[["2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"]].mean(axis = 1, skipna = True)
column_averages_df = pd.DataFrame(column_averages)
column_averages_df=column_averages_df.rename(columns = {0:"2006-2015 AVG"})
column_averages_df.index.name = "Index"
column_averages_df.head(1)

       2006-2015 AVG
Index
0         120.919333

In [6]:
cleaned_data_df = pd.merge(cleaned_data_df,column_averages_df, on = "Index", how = "inner")
cleaned_data_df.head(1)

,Country Name,Indicator Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2006-2015 AVG
Index,,,,,,,,,,,,,
0,Bangladesh,"Mortality rate, adult, female (per 1,000 femal...",135.856,131.575,127.94,124.306,120.672,117.038,113.403,110.296,107.188,NaN,120.919333

In [7]:
cleaned_data_df = cleaned_data_df [["Country Name","Indicator Name", "2006-2015 AVG"]]
cleaned_data_df.head(1)

,Country Name,Indicator Name,2006-2015 AVG
Index,,,
0,Bangladesh,"Mortality rate, adult, female (per 1,000 femal...",120.919333

In [8]:
# Calculate Total Average Mortality Rates
countries = cleaned_data_df["Country Name"].unique().astype(str)
country_list = []
total_avg_mort = []
for country in countries:

    country_df = cleaned_data_df.loc[cleaned_data_df["Country Name"] == country, :]
    total_mort = country_df.loc[(country_df["Indicator Name"] == "Mortality rate, adult, male (per 1,000 male adults)") | (country_df["Indicator Name"] == "Mortality rate, adult, female (per 1,000 female adults)") , "2006-2015 AVG"].sum()
    
    country_list.append(country)
    total_avg_mort.append(total_mort)

In [9]:
# Create Dataframe for Total Average Mortality Rates
total_avg_mort_df = pd.DataFrame({
    "Country Name" : country_list,
    "Indicator Name" : "Mortality Rate, Total",
    "2006-2015 AVG" : total_avg_mort,
    })
total_avg_mort_df.head(1)

  Country Name         Indicator Name  2006-2015 AVG
0   Bangladesh  Mortality Rate, Total     280.015889

In [10]:
# Combine cleaned_data_df and total_avg_mort_df ?
cleaned_data_df = cleaned_data_df.append(total_avg_mort_df,ignore_index=True)
cleaned_data_df.head(1)

,Country Name,Indicator Name,2006-2015 AVG
0,Bangladesh,"Mortality rate, adult, female (per 1,000 femal...",120.919333

In [11]:
# Sort data
cleaned_data_df = cleaned_data_df.sort_values(["Country Name", "Indicator Name"], ascending =True)
cleaned_data_df = cleaned_data_df.reset_index(drop=True)
cleaned_data_df

,Country Name,Indicator Name,2006-2015 AVG
0,Bangladesh,"Mortality Rate, Total",2.800159e+02
1,Bangladesh,"Mortality rate, adult, female (per 1,000 femal...",1.209193e+02
2,Bangladesh,"Mortality rate, adult, male (per 1,000 male ad...",1.590966e+02
3,Bangladesh,"Physicians (per 1,000 people)",3.137500e-01
4,Bangladesh,"Population, female",7.543719e+07
...,...,...,...
103,United States,Prevalence of overweight (% of adults),6.640000e+01
104,United States,"Prevalence of overweight, female (% of female ...",6.170000e+01
105,United States,"Prevalence of overweight, male (% of male adults)",7.120000e+01
106,United States,Rural population,5.935318e+07
107,United States,Urban population,2.508867e+08

In [12]:
# Export cleaned data to CSV
cleaned_data_df.to_csv("cleaned_data.csv", index=False)

In [13]:
# Read cleaned data csv
final_cleaned_df = pd.read_csv("cleaned_data.csv")
final_cleaned_df

,Country Name,Indicator Name,2006-2015 AVG
0,Bangladesh,"Mortality Rate, Total",2.800159e+02
1,Bangladesh,"Mortality rate, adult, female (per 1,000 femal...",1.209193e+02
2,Bangladesh,"Mortality rate, adult, male (per 1,000 male ad...",1.590966e+02
3,Bangladesh,"Physicians (per 1,000 people)",3.137500e-01
4,Bangladesh,"Population, female",7.543719e+07
...,...,...,...
103,United States,Prevalence of overweight (% of adults),6.640000e+01
104,United States,"Prevalence of overweight, female (% of female ...",6.170000e+01
105,United States,"Prevalence of overweight, male (% of male adults)",7.120000e+01
106,United States,Rural population,5.935318e+07
107,United States,Urban population,2.508867e+08

## Analysis
--------

#### Mortality Rate and Sex
--------

In [14]:
# Create bar chart with mortality rate as y-axis and each of the sexes as a bar across all nations

#### Mortality Rate and Urbanization
--------

In [15]:
# Create bar chart with mortality rate as y-axis and urban and rural populations as bars across all nations

In [22]:
# Create dataframe to run visualization on
urbanization_df = final_cleaned_df.loc[(final_cleaned_df["Indicator Name"] == "Mortality Rate, Total") |
(final_cleaned_df["Indicator Name"] == "Rural population") |
(final_cleaned_df["Indicator Name"] == "Urban population")
,:]
urbanization_df

      Country Name         Indicator Name  2006-2015 AVG
0       Bangladesh  Mortality Rate, Total   2.800159e+02
10      Bangladesh       Rural population   1.054643e+08
11      Bangladesh       Urban population   4.724580e+07
12          Brazil  Mortality Rate, Total   3.080899e+02
22          Brazil       Rural population   3.096587e+07
23          Brazil       Urban population   1.685013e+08
24           China  Mortality Rate, Total   1.826766e+02
34           China       Rural population   6.719833e+08
35           China       Urban population   6.690387e+08
36           India  Mortality Rate, Total   3.860592e+02
46           India       Rural population   8.522518e+08
47           India       Urban population   3.858370e+08
48       Indonesia  Mortality Rate, Total   3.672831e+02
58       Indonesia       Rural population   1.207640e+08
59       Indonesia       Urban population   1.225493e+08
60          Mexico  Mortality Rate, Total   2.351280e+02
70          Mexico       Rural population   2.626854e+07
71          Mexico       Urban population   9.308222e+07
72         Nigeria  Mortality Rate, Total   7.508534e+02
82         Nigeria       Rural population   9.062047e+07
83         Nigeria       Urban population   7.145189e+07
84        Pakistan  Mortality Rate, Total   3.392261e+02
94        Pakistan       Rural population   1.086349e+08
95        Pakistan       Urban population   6.358281e+07
96   United States  Mortality Rate, Total   2.134100e+02
106  United States       Rural population   5.935318e+07
107  United States       Urban population   2.508867e+08

#### Mortality Rate and Access to Physicians
--------

In [17]:
# Create scatterplot with mortality rate as y-axis and pysicians (per 1000 people) as the x-axis across all nations

#### Mortality Rate and Obesity
--------

In [18]:
# Create scatterplot with mortality rate as y-axis and prevalence of overweight (% of adults) as the x-axis across all nations